body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(255, 168, 168);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.li-navbar {
  margin-right: 20px;
}

.li-navbar:hover {
  background-color: rgb(61, 51, 58);
  border-radius: 10%;
}

.a-navbar {
  color: #fff;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

section {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

footer {
  background-color: rgb(255, 168, 168);
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}
